[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/tsupinie/GFDL_atmos_cubed_sphere
	branch = hmt
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = master
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/tsupinie/ccpp-physics
	branch = master
